@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Charm:wght@400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}



@theme {
  --font-prompt: "Prompt", sans-serif;
  --font-charm: "Charm", sans-serif;
  --color-orange: #FF8800;
  --color-gray-1: #F4F4F4;
  --color-gray-2: #F1F1F1;
  --color-gray-3: #A6A6A6;
  --color-gray-4: #636363;
  --color-gray-5: #2A2A2A;
  --color-gray-6: #202020;
  --animate-open-down: open-down 3s ease-in;
  --animate-wiggle: wiggle 2s ease-in-out;
  --animate-fade: fade .5s ease-in-out;
  --animate-fade-up: fade-up .5s ease-out;
  --animate-fade-left: fade-left .3s ease-in-out;
  --animate-fade-up-infinite: fade-up .7s ease-out 2s infinite;
  --animate-fade-down: fade-down .3s ease-out;
  --animate-open: ani-open .3s ease-out;
  --animate-loading: loading 6s ease-out;

  @keyframes open-down {
    0% {
      height: 0;
      padding: 0;
    }

    ,
    100% {
      height: fit-content;
    }
  }

  @keyframes loading {
    0% {
      transform: ScaleX(0);
      opacity: 1;
    }

    100% {
      transform: ScaleX(1);
      opacity: 1;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(-3deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }

  @keyframes ani-open {
    0% {
      transform: Scale(0)
    }

    100% {
      transform: Scale(1)
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(100%)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(100%)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-100%)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

}

html {

  /* font-family: 'IBM Plex Sans Thai', sans-serif; */
  h1 {
    @apply text-2xl lg:text-[36px] font-bold
  }

  h2 {
    @apply text-[16px] lg:text-[20px] font-semibold
  }

  h3 {
    @apply text-[12px] lg:text-[16px] font-semibold
  }
}

html,
body {
  overscroll-behavior: none;
}